@using EntityLayer.Concrete
@model List<Content>
@{
    ViewBag.Title = "GetAllContent";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<!DOCTYPE html>
<h3 style="font-weight:bolder; font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif">Tüm Yazılar</h3>
<br />


@using (Html.BeginForm("GetAllContent", "Content", FormMethod.Post))
{
    <p>
        Aranacak kelimeyi girin: @Html.TextBox("p")
        <input type="submit" value="Ara" />
    </p>
}


<table id="tbl1" class="table table-bordered">
    <thead>
        <tr>
            <th>Yazı</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var i in Model)
        {
            <tr>              
                <td>@i.ContentValue</td>              
            </tr>
        }
    </tbody>

</table>
